
.header{
    color: rgb(216, 249, 253);
}

.form {
    background-color: rgb(240, 240, 240);
    text-align: center;
    height: 140px;
    width: 1170px;
    margin: 0;
    border-radius: 40px;
    
}